#landing {
    margin: 50px auto;
    width: 500px;
    text-align: center;
}

#landing h1 {
    margin-bottom: 15px;
    font-size: 2rem;
}

#landing h2 {
    margin-bottom: 15px;
    font-size: 1.3rem;
    color: blue;
    text-decoration: underline;
}

