/* Reset */
* {
  margin:0;
  padding:0;
  border:0;
  font-size:100%;
  font:inherit;
  vertical-align:baseline;
}

body{
  font-family: Arial;
}


/* Root Settings */

:root{
  font-size: 12px; /* REM Size */

  /* Variables */

  --main-bg-color: #fff;
  --main-item-color: #ff9117;
  --main-text-color: #000;
}